<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.tacademy.mongsil.mongsil">

    <!-- 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MongSilApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppTutorialActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProgramInfoActivity"
            android:parentActivityName=".SettingActivity"/>
        <activity
            android:name=".AlarmActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".SettingActivity"/>
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PostDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PostingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".CameraGalleryActivity" />

        <receiver android:name=".CheckNetwork">
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="kr.co.tacademy.mongsil.mongsil.MongSilGlideModule"
            android:value="GlideModule" />
        <activity android:name=".OtherUserProfileActivity" />
        <activity android:name=".PhotoViewActivity" />
    </application>

</manifest>